.styleStudent {
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    color: #253b56;
    margin: 12px 0px;
  }
  
  .styleStudentContent {
    padding: 4px 16px 20px 16px;
  }
  
  
  
  .styleDetails {
    font-family: Avenir-Heavy;
    font-size: 20;
    font-weight: 600;
    margin: 12px 0px 0px 0px;
  }